body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f8f9fa 0%, #e0e0e0 100%);
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    transform: translateY(-50px);
    transition: transform 0.3s ease-in-out;
  }
  
  .container:hover {
    transform: translateY(-60px);
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo {
    max-width: 100px; /* Adjust the logo size as needed */
    height: auto;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left; /* Align labels and input fields to the left */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #007bff;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .logo {
      max-width: 80px;
    }
  
    button {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    .logo {
      max-width: 60px;
    }
  
    button {
      padding: 8px;
    }
  }
  